@charset "utf-8";
/* CSS Document */

/*Home Page section 3*/
.section-3{
	background-color: #961A55;
	padding-bottom: 50px;
	
}

.service-title{
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 5vw;
	font-weight: bold;
	color: white;
	text-align: center;
}

.service-content{
	color: white;
	padding-left: 50px;
	padding-right: 50px;
	text-align: justify;
}