@charset "utf-8";
/* CSS Document */

/* Contact page Section 1*/
.section-1{
	background-image: url("../img/bkg1.png");
	padding-bottom: 20px;
	
}

.job-title{
	padding-top: 30px;
	font-size: 5vw;
	font-weight: bold;
	color: white;
	text-align: center;
}

.contact-menu-section{
	text-decoration: underline;
}
.no-link{
	pointer-events: none;
}