@charset "utf-8";
/* CSS Document */

/*COntact Page section 3*/

.section-3{
	padding-left: 100px;
	padding-bottom: 50px;
}

.contact-div{
	padding-top: 10px;
	padding-bottom: 30px;
}
.contact-img{
	width: 2vw
}

.contact-txt{
	color: #961A55;
	font-weight: bold;
}

