@charset "utf-8";
/* CSS Document */



.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo-image{
	width: 80px;
}
.logo-section{
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	align-items: center;
}
.blank-space{
	display: flex;
}
.spot-logo-name{
	font-family: Noto Sans Kawi;
	font-size: 60px;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	line-height: 1;
}
.talent-logo-name{
	font-family: Noto Sans Kawi;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	line-height: 1;
}

.main-menu-section{
	padding-top: 80px;
	padding-bottom: 0;
	padding-right: 30px;
	display: flex;
	align-items: center;
	font-family: Noto Sans Kawi;
	font-size: 15px;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	line-height: 1;
}

.menu-section{
	
	display: flex;
	
}
.home-menu-section,
.about-menu-section,
.jobs-menu-section,
.contact-menu-section{
	padding-left: 15px;
}

.partition-line{
	width: 50vw;
}
