@charset "utf-8";
/* CSS Document */

/*Home Page section 1*/
.section-1{
	background-image: url("../img/bkg1.png");
	padding-bottom: 50px;
	
}

.content-Section-1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 30px;
	padding-right: 30px;
}
.feel-title,
.at-title{
	font-size: 5vw;
	font-weight: bold;
	color: white;
}

.ease-title{
	font-size: 8vw;
	font-weight: bold;
	color: white;
}

.recruitment-title{
	font-size: 5vw;
	font-weight: bold;
	color: white;
}
.section1-title{
	padding-right: 100px;
	align-items: right;
	color: white;
	
}

.section1-content{
	padding-top: 30px;
	width: 90%;
	text-align: justify;
	color: white;
}
.section1-content-span{

}
.looking-for-talent-img{
	width: 30vw;
}
.looking-for-talent-btn{
	border-style: none;
	background-color: transparent;
	width: 35vw;
	height: 10vw;
	
}
.home-menu-section{
	text-decoration: underline;
}

.no-link{
	pointer-events: none;
}